<!DOCTYPE html>
<html lang="ja" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}うまみちゃんの巣{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6185799318747574"
        crossorigin="anonymous"></script>
    <style>
        .container {
            width: auto;
            max-width: 680px;
            padding: 0 15px;
        }
    </style>
</head>

<body class="d-flex flex-column h-100">
    <header class="header">
        <div>
            <a href="/" class="link-dark"> ＜ Back to home</a>
        </div>
    </header>

    <main class="flex-shrink-0">
        <div class="container my-3">
            <div class="row">
                <div>
                    <h1 class="m-3">お問い合わせフォーム</h1>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <form action="{{ url_for('contact.contact') }}" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">お名前</label>
                            <input type="name" class="form-control" id="name" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="subject" class="form-label">件名</label>
                            <input type="text" class="form-control" id="subject" name="subject" required>
                        </div>
                        <div class="mb-3">
                            <label for="message" class="form-label">内容</label>
                            <textarea class="form-control" id="message" rows="7" name="message" required></textarea>
                        </div>
                        <div class="">
                            <button type="submit" class="btn btn-primary">送信</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </main>

    <footer class="footer mt-auto text-center bg-secondary">
        <!-- Copyright -->
        <div class="container">
            <a href="/" class="text-dark">© 2023 Umamichang. All rights reserved.</a>
        </div>
        <!-- Copyright -->
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>