<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <title>ブログホーム</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            font-size: 20px;
            background-color: #f0f0f0;
        }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6185799318747574"
    crossorigin="anonymous"></script>
</head>


<body>
{% for post in posts %}
    <h2>{{ post.title }}</h2>
    <p>{{ post.date_posted.strftime("%Y-%m-%d") }}</p>
    <div>{{ post.content.split('</p>', 1)[0] }}</div>
{% endfor %}

<!-- ページネーションのリンク -->
{% if page > 1 %}
    <a href="{{ url_for('blog.home', page=page-1) }}">前へ</a>
{% endif %}
{% if page < total_pages %}
    <a href="{{ url_for('blog.home', page=page+1) }}">次へ</a>
{% endif %}
</body>
</html>