<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Wolf by ChatGPT</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='/favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6185799318747574"
        crossorigin="anonymous"></script>
    <style>
        a {
            font-size: 16px;
        }

        .hide-button {
            font-size: 20px;
        }

        .next-button {
            font-size: 20px;
        }

        #word-display {
            min-height: 2em;
            font-size: 25px;
        }
    </style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6185799318747574"
        crossorigin="anonymous"></script>
    <script>
        let currentIndex = 0;
        let themes_list = {{ themes| tojson | safe }};

        function revealTheme() {
            document.getElementById("word-display").innerHTML = themes_list[currentIndex];
        }

        function hideWord() {
            document.getElementById("word-display").innerHTML = "";
        }

        function nextPlayer() {
            currentIndex++;
            if (currentIndex >= themes_list.length) {
                currentIndex = 0;
            }
            hideWord();
            document.getElementById("player-number").innerHTML = currentIndex + 1;
        }

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("hide-word").addEventListener("click", revealTheme);
            document.getElementById("next-word").addEventListener("click", nextPlayer);
            document.getElementById("player-number").innerHTML = currentIndex + 1;
        });
    </script>
</head>

<body>
    <main>
        <h1>お題</h1>
        <h2>Player: <span id="player-number"></span></h2>
        <div class="word-display" id="word-display">
            <!-- お題を表示 -->
        </div>
        <button class="hide-button" id="hide-word">表示</button>
        <button class="next-button" id="next-word">次のプレイヤー</button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="{{ url_for('wordwolf.settings') }}">リセット</a>
    </main>

    <footer class="fixed-bottom mt-2 text-center container-fluid bg-secondary">
        <!-- Copyright -->
        <div class="text-dark">
            <a href="/" class="text-dark">© 2023 Umamichang. All rights reserved.</a>
        </div>
        <!-- Copyright -->

    </footer>

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>